<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573915110811-vl2hh4698oss5aao0nsa7qv2grfn5sit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573915110811-vl2hh4698oss5aao0nsa7qv2grfn5sit</string>
	<key>API_KEY</key>
	<string>AIzaSyBeddIglUPIklnBUaOruhxgdQhxQYNJczs</string>
	<key>GCM_SENDER_ID</key>
	<string>573915110811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wussup</string>
	<key>PROJECT_ID</key>
	<string>arvzapp</string>
	<key>STORAGE_BUCKET</key>
	<string>arvzapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:573915110811:ios:10e16ffdbcfcfefd</string>
	<key>DATABASE_URL</key>
	<string>https://arvzapp.firebaseio.com</string>
</dict>
</plist>
